@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* logo top */
.logo {
  float: left;
  width: auto;
  height: auto;
  position: sticky;
}

/* index page image */



/* headers */
h1 {
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
}
h2 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-align: center;
}


/* aboutme*/
.about{
  padding-top: 15px;
  letter-spacing: 1px;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-align: justify;
}

.profile {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  width: 35%;
}

/* top navbar */

#nav {
  padding: 50px;
}

.topnav {
  overflow: hidden;
  position: sticky;
  letter-spacing: 1px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: lightgrey;
}

.topnav a.active {
  color: grey;
  text-decoration: underline;
}

.topnav-right {
  list-style: none;
  float: right;
}

/* social media links */

.fa {
  padding: 10px;
  font-size: 10px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 40px 2px;
}

.fa:hover {
    opacity: 0.7;
    color: lightgrey;
}

.fa-reddit {
    background: #ff5700;
    color: white;
    bottom: 200px;
    position: fixed;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    bottom: 200px;
    margin-left: 80px;
    position: fixed;
}


.fa-instagram {
  background: #125688;
  color: white;
  margin-left: 120px;
  bottom: 200px;
  position: fixed;
}


/* image grid portolio*/

.title {
   text-align: center;
   font-size: 1em;
   letter-spacing: 1px;
   padding: 40px;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

/* image links */

.image-center{
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.image-text {
  text-align: center;
  color: black;
}

.image-text a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* slideshows */

.numbertext {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: magenta;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* footer */
#footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: right;
    font-size: .7em;
    font-family: 'Montserrat', sans-serif;
}
