body {
  width: 100%;
  margin: auto;
}


.bg-image {
  overflow: hidden;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: fixed;
  top: 55%;
  left: 50%;
  height: 75%;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: -2;
}


.bg-text {
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: -2;
  width: 55%;
  padding: 35px;
  text-align: center;
}




/* headers */
h1 {
  top: 0;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5em;
  text-align: center;
}

h2 {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8em;
  text-align: left;
  position: sticky;
  color: #000000;
  padding: 25px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  top: 0;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: .3em;
  text-align: center;
}

/* aboutme*/

.about{
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  margin-left: 45px;
}

/* social */
div.fixed{
  display: inline-block;
  color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 50px;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}
.no-italics{
  font-style: normal;
}

/* nav bar */
.active{
  background: white;
  color: rgb(174, 33, 172);
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px lightblue;
    -moz-box-shadow: 0 8px 6px -6px lightblue;
    box-shadow: 0 8px 6px -6px lightblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: rgb(245, 205, 227);
}

li {
  float: left;
  font-family: 'Montserrat', sans-serif;
}

li a, .dropbtn .active{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(174, 33, 172);
  color: white;
}

li.dropdown .active {
  display: inline-block;
  color: rgb(174, 33, 172);
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(174, 33, 172);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* portfolio images */
div.gallery {
  background-color: #eddbcd;
  margin: 5px;
  border: 1px solid #cdcdcd;
  float: left;
  width: 150px;
}
div.gallery:hover {
  border: 1px solid #c06014;
}

div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  color: black;
  padding: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
}
