body {
width: 100%;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 70%;
  padding: 50px;
  text-align: center;
}


/* headers */
h1 {
  top: 0;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  text-align: center;
}

h2 {
  margin-top: 100px;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8em;
  text-align: left;
  position: sticky;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  text-align: center;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: .3em;
  text-align: center;
}

/* social */
div.fixed{
  display: inline-block;
  color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 50px;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}
.no-italics{
  font-style: normal;
}

/* nav bar */
.active{
  background: #666;
  color: white;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: lightgray;
}

li {
  float: left;
  font-family: 'Montserrat', sans-serif;
}

li a, .dropbtn .active{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
  color: white;
}

li.dropdown .active {
  display: inline-block;
  color: white;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #333;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* portfolio images */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
}
